
.panel-region-lead {
  width: 100%;
}

.panel-region-top-left,
.panel-region-top-center,
.panel-region-top-right {
  width: 33%;
  float: left;
}

.panel-region-middle-left {
  width: 60%;
  float: left;
}
.panel-region-middle-right {
  width: 40%;
  float: right;
}

.panel-region-bottom {
  width: 100%;
}
